<configuration dabug="false">
	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>D:/item/log/dw.log</File>
		<encoder>
			<Pattern>%d %5p [%t] %c:%L - %m%n</Pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>D:/item/log/dw.log%d{yyyy-MM-dd}.gz</FileNamePattern>
		</rollingPolicy>
	</appender>
	
	
	<root level="debug">
		<appender-ref ref="FILE"></appender-ref>
	</root>
	
	<logger name="com.ssm" level="debug"/>
	<logger name="org" level="error"/>
	
</configuration>